/* --- HEADER --- */
header {
  font-family: "UnifrakturCook", serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(17, 18, 20, 0.95);

  padding: 0 30px;
  border-bottom: 1px solid rgba(126, 154, 118, 0.3);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.site-name {
  flex: 1;
  text-align: left;
  margin-left: 5px;
}
.mobile-nav {
  flex: 0;
}
#dropdown-menu {
  right: 10px;
  top: 60px;
}

.site-name a {
  font-weight: 700;
  font-family: "UnifrakturCook", sans-serif;
  font-size: 2rem; /* desktop header size */
  color: #fff;
  text-align: left;
  text-shadow: 0 0 6px rgba(144, 190, 144, 0.3);
}

/* Desktop nav */
.desktop-nav {
  display: flex;
  gap: 25px;
  margin: 25px;
}
.desktop-nav a {
  transition: 0.3s ease;
}
.desktop-nav a:hover,
.desktop-nav a.active {
  text-shadow: 0 0 8px #7e9a76;
}

/* Contact button */
.contact-btn {
  padding: 8px 18px;
  border: 1px solid #7e9a76;
  border-radius: 4px;
  transition: 0.3s ease;
}
.contact-btn:hover {
  background: #7e9a76;
  color: #111214;
  box-shadow: 0 0 15px #7e9a76;
}

/* Mobile nav */
.mobile-nav {
  display: none;
  position: relative;
}
#dropdown-toggle {
  background: none;
  border: 1px solid #7e9a76;
  border-radius: 4px;
  padding: 6px 12px;
  color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}
#dropdown-toggle:hover {
  background: #7e9a76;
  color: #111214;
  box-shadow: 0 0 12px #7e9a76;
}
#arrow {
  font-size: 0.9rem;
  transition: transform 0.2s ease;
}
#dropdown-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #111214;
  border: 1px solid #7e9a76;
  box-shadow: 0 0 12px #7e9a76;
  display: none;
  flex-direction: column;
  width: 180px;
  z-index: 101;
}
#dropdown-menu a {
  padding: 10px;
}
#dropdown-menu a:hover,
#dropdown-menu a.active {
  background: rgba(126, 154, 118, 0.2);
}

.site-name {
  flex: 1;
  text-align: left;
  margin-left: 5px;
}
.mobile-nav {
  flex: 0;
}
#dropdown-menu {
  right: 10px;
  top: 60px;
}
