/* --- MODAL --- */
#image-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(17, 18, 20, 0.95);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
#image-modal .modal-content {
  position: relative;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
}
#modal-img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  cursor: grab;
}
#modal-caption {
  margin-top: 15px;
  color: #f1f1f1;
}
#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #7e9a76;
  border: none;
  border-radius: 4px;
  color: #111214;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 5px 10px;
}
#close-modal:hover {
  background: #5f7c5a;
}
